<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>top-level-items</key>
	<array>
		<dict>
			<key>destination</key>
			<dict>
				<key>location-parameters</key>
				<dict>
					<key>EndingColumnNumber</key>
					<string>0</string>
					<key>EndingLineNumber</key>
					<string>24</string>
					<key>StartingColumnNumber</key>
					<string>0</string>
					<key>StartingLineNumber</key>
					<string>23</string>
					<key>Timestamp</key>
					<string>798013061.156386</string>
				</dict>
				<key>rebasable-url</key>
				<dict>
					<key>base</key>
					<string>workspace</string>
					<key>payload</key>
					<dict>
						<key>relative-path</key>
						<string>SteinerCircleModel/Sources/SteinerCircleModel/SteinerCircleModel.swift</string>
					</dict>
				</dict>
			</dict>
			<key>text-context</key>
			<dict>
				<key>focused</key>
				<string>  public init(outerRadius: CGFloat, circleCount: Int, gap: CGFloat = 0.001) {
</string>
				<key>leading</key>
				<string>  public let gap: CGFloat

</string>
				<key>trailing</key>
				<string>    self.outerRadius = outerRadius
    self.circleCount = max(1, circleCount)
    self.gap = max(gap, 0.001)
</string>
			</dict>
			<key>title</key>
			<string>0.001 is better than .leastNonzeroMagnitude because it fixes the bug:  "ignoring singular matrix: ProjectionTransform(m11: 5e-324, m12: 0.0, ..."</string>
			<key>type</key>
			<string>bookmark</string>
		</dict>
	</array>
</dict>
</plist>
